{% extends 'base.html' %}

{% block content %}
{% if request.user.is_staff %}
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="Confirm">
            </form>
          </div>
        </main>
        {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}        
      </div>
    </div>
{% else %}
<div class="col-4 offset-4 mb-5 mt-5">
<p>
<a href="{% url 'account_login' %}" class="btn btn-primary">Please login to delete the post</a>
</p>
</div>
{% endif %}
{% endblock content %}